<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="nav navbar-header">
    <%= link_to Rails.configuration.application_name, root_path, class: 'navbar-brand' %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav mr-auto">
      <li class="<%= "nav-item #{active_element_on_top_naviagation('positive')}" %>">
        <%= link_to 'Pokemons', pokemons_path, class: "btn nav-link" %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right user-block">
      <% if user_signed_in? %>
        <li>
          <%= link_to current_user.email, edit_user_registration_path %>
        </li>
        <li><%= link_to 'Sign OUT', destroy_user_session_path, method: :delete %></li>
      <%- else %>
        <li>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>